body {
    background-color: white;
    margin: 25px;
}

img {
	float: left;
	padding-right: 20px;
	position: static;
}

h3 {
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	position: static;
}

p {
	font-family: "Courier New", Courier, monospace;
	font-size: 13.5px;
	text-align: left;
}

h5 {
	font-family: "Courier New", Courier, monospace;
}

.wrap {
	text-align: center;
}

.container {
	text-align: center;
}
