body {
    background-color: white;
    text-align: center;
}

img {
	position: fixed;
	z-index: -1;
	bottom: 340px;
	right: 800px;
}

h3 {
	font-family: "Courier New", Courier, monospace;
}

p {
	font-family: "Courier New", Courier, monospace;
	margin-right: 300px;
	margin-left: 400px;
	text-align: left;
	font-size: 12px;
}

h5 {
	font-family: "Courier New", Courier, monospace;
	margin-left: 40px;
	margin-right: 40px;
}