body {
    background-color: white;
}


h3 {
	font-family: "Courier New", Courier, monospace;
	text-align: left;
}

.star {
	float: right;
	position: relative;
    right: 250px;
}

.sketches {
	width: 550px;
  	margin: 20px auto;
}

img {
	border-radius: 50%;
}

.graf {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	text-align: left;
	margin-right: 400px;
	margin-left: 400px;
}

.final {
	font-family: "Courier New", Courier, monospace;
	font-size: 9px;
	text-align: center;
}

h5 {
	font-family: "Courier New", Courier, monospace;
}


.wrap {
	text-align: center;
}

.container {
	text-align: center;
}
